body {
    width: 100%;
    text-align: center;
}

@media screen and (max-width:480px) {
    body {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    h1 {
        color: rgb(0, 133, 133);
    }
    p {
        color: blue;
    }
}